            #canvas {
                height: 800px;
                left: 50%;
                margin: 0px;
                position: absolute;
                top: -500px;
                left: -300px;
                right:20%;
                width: 1000px;
                background: #333; 
            }
            #paper {
                height: 400px;
                left: 0;
                position: absolute;
                top: 30%;
                width: 100px;
                background-color: red; 
            }
            #tehran, #alborz, #ardabil, #bushehr, #east_azerbayjan, #charmahal, #esfahan, #fars, #sistan, #razavi,
            #lorestan, #markazi, #mazandaran, #nkhorasan, #qazvin, #semnan, #guilan, #golestan, #hamadan, #hormozgan,
            #ilam, #kerman, #kermanshah, #khuzestan, #kohkiluye, #kordestan, #skhorasan, #wazerbayjan, #yazd, #zanjan, #qom, #khazar, #kh_fars, #omman{
                display: none;
                height: 500px;
                overflow: auto;
                position: absolute;
                right: 0%;
                left:95%;
                top: 650px;
                width: 300px;
                font-size: 0.7em;
            }

            #khazar, #kh_fars, #omman {
                display: none;
                height: 900px;
                overflow: auto;
                position: absolute;
                right: 0%;
                left:95%;
                top: 650px;
                width: 300px;
                font-size: 0.7em;

                
            }
            h2 {
                text-align: center;
            }
svg {
    -webkit-transform: scale(0.6);
}
html, body, #map-canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px
}
   /*style the box*/  
         .gm-style .gm-style-iw {
            background: rgba(255, 255, 255, 0.7) !important;
            top: 0 !important;
            left: 0 !important;
            width: 330px 
            height: 330px 
            min-height: 150px !important;
            padding-top: 10px;
            display: block !important;
            /*opacity: rgba(76, 175, 80, 0.3) !important;*/
            

         }    
     
         /*style the p tag*/
         .gm-style .gm-style-iw #google-popup p{
            padding: 0px;
            /*background: rgba(255, 255, 255, 0.5) !important;*/
         }
         
     
        /*style the arrow*/
        .gm-style div div div div div div div div {
            background: rgba(255, 255, 255, 0.6) !important;
            padding: 0;
            margin: 0;
            padding: 0;
            top: 0;
            color: black;
            font-size: 16px;
            /*opacity: rgba(76, 175, 80, 0.3) !important;*/

        }
