{% extends "layout1.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <a class='btn btn-secondary' target='_blank' href='/logout' style="margin-bottom: 5%"> logout </a>
        <h4>Admin Panel <small style='color: green'>Welcome {{session.username}}</small></h4>

<a class='btn btn-primary' target='_blank' href='/edit_home' style="margin-bottom: 5%"> Edit Home Page </a>
<a class='btn btn-primary' target='_blank' href='/edit_services' style="margin-bottom: 5%"> Edit Services Page </a>
<a class='btn btn-primary' target='_blank' href='/edit_tours' style="margin-bottom: 5%"> Edit Tours Page </a>

        <a class='btn btn-primary' target='_blank' href='/add_blog' style="margin-bottom: 5%"> Add A New Blog </a>
      </div>
      <div class="clearfix">

<br><br><br><br><br><br>

  <table class='table table-striped'>
  	<tr>
  		<th> ID </th>
  		<th> Title </th>
  		<th> Date </th>
  		<th> Edit </th>
  		<th> Delete </th>
  		<th>  </th>
  	</tr>
  	{% for b in blog %}
  	<tr>
	  	<th> {{b.id}} </th>
	  	<th> {{b.main_topic}} </th>
	  	<th> {{b.create_date}}  </th>
	  	<th><a href="edit_blog{{b.id}}" class="btn btn-default pull-left" target="_blank">Edit</a> </th>
	  	<th> 
	  		<form action='{{url_for("delete_blog", id=b.id)}}' method = 'post'>
	  			<input type="hidden" name="_method" value="DELETE">
	  			<input type="submit" value="Delete" class="btn btn-danger">
	  		</form>
	  	</th>
	{%endfor%}
  	</tr>
  </table>

<br><br>
<a class='btn btn-primary' target='_blank' href='/upload' style="margin-bottom: 5%"> upload images </a>


</div>
</div>
</main>
{% endblock %}
