{% extends "layout.html" %}


{% block content %}

<link rel="stylesheet" href="static/css/bootstrap.min.css">

<link rel="stylesheet" href="static/css/style_blog.css">

  <section class="banner_area" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(static/images/bg_4.jpg) no-repeat scroll center;">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2>Iran International Tourists</h2>
                            <p>Iran’s emergent tourism sector is expected to ramp up by 11.6 percent in 2017 by scoring over 5.5 million international tourist arrivals, the World Travel and Tourism Council suggested.</p>
<!--                             <div class="page_link">
                                <a href="index.html">Home</a>
                                <a href="blog.html">Blog</a>
                                <a href="single-blog.html">Details</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="static/img/image_3.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a href="#">Desert,</a>
                                    <a class="active" href="#">Eco Tours,</a>
                                    <a href="#">Iran,</a>
                                    <a href="#">Lifestyle</a>
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">Mehrnaz Salimi<i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#">12 Dec, 2017<i class="lnr lnr-calendar-full"></i></a></li>

                                </ul>
<!--                                 <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul> -->
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            <h2>Iran international tourist arrivals to rise by almost 12% in 2017</h2>
                            <p class="excert">
{{blog.body | safe}}
                            </p>
                        </div>
                        <div class="col-lg-12">
                            <div class="quotes">
                               Iran seeks to acquire greater share of the global tourism industry, as relies on its world famous hospitality, countless natural beauties, deeply-rooted-in-time history and culture, as well as abundance of tourist sites, 21 of which have been inscribed on the UNESCO World Heritage list.
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <img class="img-fluid" src="static/img/resto-3.jpg" alt="">
                                </div>
                                <div class="col-6">
                                    <img class="img-fluid" src="static/img/room-1.jpg" alt="">
                                </div>
                                <div class="col-lg-12 mt-25">
                                    <p>
                                        Direct contribution primarily reflects the economic activity generated by industries such as hotels, travel agencies, airlines and other passenger transportation services (excluding commuter services). But it also includes, for example, the activities of restaurants and leisure industries directly supported by tourists.
                                    </p>
                                    <p>
                                        This includes employment by hotels, travel agencies, airlines and other passenger transportation services (excluding commuter services). It also includes, for example, the activities of restaurant and leisure industries directly supported by tourists.
                                    </p>
                                                                        <p>
                                        Direct contribution primarily reflects the economic activity generated by industries such as hotels, travel agencies, airlines and other passenger transportation services (excluding commuter services). But it also includes, for example, the activities of restaurants and leisure industries directly supported by tourists.
                                    </p>
                                    <p>
                                        This includes employment by hotels, travel agencies, airlines and other passenger transportation services (excluding commuter services). It also includes, for example, the activities of restaurant and leisure industries directly supported by tourists.
                                    </p>                                    <p>
                                        Direct contribution primarily reflects the economic activity generated by industries such as hotels, travel agencies, airlines and other passenger transportation services (excluding commuter services). But it also includes, for example, the activities of restaurants and leisure industries directly supported by tourists.
                                    </p>
                                    <p>
                                        This includes employment by hotels, travel agencies, airlines and other passenger transportation services (excluding commuter services). It also includes, for example, the activities of restaurant and leisure industries directly supported by tourists.
                                    </p>                                    <p>
                                        Direct contribution primarily reflects the economic activity generated by industries such as hotels, travel agencies, airlines and other passenger transportation services (excluding commuter services). But it also includes, for example, the activities of restaurants and leisure industries directly supported by tourists.
                                    </p>
                                    <p>
                                        This includes employment by hotels, travel agencies, airlines and other passenger transportation services (excluding commuter services). It also includes, for example, the activities of restaurant and leisure industries directly supported by tourists.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                  


                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">

                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="static/img/Mehrnaz.jpg" alt="">
                            <h4>Mehrnaz Salimi</h4>
                            <p>Senior blog writer</p>
<!--                             <div class="social_icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div> -->
                            <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you
                                should have to spend money on boot camp when you can get. Boot camps have itssuppor
                                ters andits detractors.</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Popular Posts</h3>
                            <div class="media post_item">
                                <img src="static/images/image_11.jpg" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>Travel to Iran</h3>
                                    </a>
                                    
                                </div>
                            </div>
                             <div class="media post_item">
                                <img src="static/images/image_11.jpg" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>Travel to Iran</h3>
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="static/images/image_11.jpg" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>Travel to Iran</h3>
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="static/images/image_11.jpg" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>Travel to Iran</h3>
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#"><img class="img-fluid" src="img/blog/add.jpg" alt=""></a>
                            <div class="br"></div>
                        </aside>
                      
                        <aside class="single-sidebar-widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                <li><a href="#">Iran</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Tour</a></li>
                                <li><a href="#">Cultural Tours</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Desert</a></li>
                                <li><a href="#">Economy</a></li>
                                <li><a href="#">Eco Tours</a></li>
                                <li><a href="#">Parsan Tours</a></li>
                                <li><a href="#">Ski</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Adventure</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->


{% endblock %}