<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="title">Parsan Admin Panel</h1>
      </div>
    </header>
    
    {% block content %}
    {% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
    <script type="text/javascript">
    	CKEDITOR.replace('editor1')
    </script>
    <script type="text/javascript">
    	CKEDITOR.replace('editor2')
    </script>
    <script type="text/javascript">
    	CKEDITOR.replace('editor3')
    </script>
    <script type="text/javascript">
    	CKEDITOR.replace('editor4')
    </script>
    <script type="text/javascript">
    	CKEDITOR.replace('editor5')
    </script>
        <script type="text/javascript">
      CKEDITOR.replace('editor6')
    </script>
        </script>
        <script type="text/javascript">
      CKEDITOR.replace('editor7')
    </script>
        </script>
        <script type="text/javascript">
      CKEDITOR.replace('editor8')
    </script>
        </script>
        <script type="text/javascript">
      CKEDITOR.replace('editor9')
    </script>
        </script>
        <script type="text/javascript">
      CKEDITOR.replace('editor10')
    </script>
        </script>
        <script type="text/javascript">
      CKEDITOR.replace('editor11')
    </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor12')
    </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor13')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor14')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor15')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor16')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor17')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor18')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor19')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor20')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor21')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor22')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor23')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor24')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor25')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor26')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor27')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor28')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor29')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor30')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor31')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor32')
    </script>
        </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor33')
    </script>

            </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor34')
    </script>
            </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor35')
    </script>
            </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor36')
    </script>
            </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor37')
    </script>
            </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor38')
    </script>
            </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor39')
    </script>
            </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor40')
    </script>
            </script>
      <script type="text/javascript">
      CKEDITOR.replace('editor41')
    </script>


  </body>
</html>
