{% extends "layout.html" %}


{% block content %}


 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">         




          



	  <section class="hero-wrap" style="background-image: url('static/images/Abbasi.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-start">
          <div class="col-md-9 ftco-animate pb-4">
            <h1 class="mb-3 bread" style="color: white">Isfahan Abbasi Hotel</h1>
            
          </div>
        </div>
      </div>
    </section>
    <br>

    <section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
      <div class="container">
        <div class="row no-gutters d-flex">
                    <div class="col-md-6 col-lg-8 px-lg-5 py-md-5 bg-darken">
            <div class="py-md-5">
              <div class="row justify-content-start pb-3">
                <div class="col-md-12 heading-section ftco-animate p-5 p-lg-0">
                  <span class="subheading">Get in touch with us</span>
                  <h2 class="mb-4" style="width:85%">Paragraph</h2>
                  <p style="width:85%; color: white">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                  <p style="width:85%; color: white">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                  <p style="width:85%; color: white">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                  <p style="width:85%; color: white">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                  <p style="width:85%; color: white">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                  <p style="width:85%; color: white">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                  <p style="width:85%; color: white">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                  <p style="width:85%; color: white">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                  <p style="width:85%; color: white">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex">
            <iframe src="imap" class="imapwrapper1"></iframe>
            </div>
          </div>

        </div>
      </div>
    </section>
    <br>
<style type="text/css">

@media(min-width: 1200px){
.tanzim  {
    padding-left: 5%;
  }
}
@media(min-width: 991px) and (max-width: 1200px){
.tanzim  {
    padding-left: 15%;
  }
}
@media(min-width: 768px) and (max-width: 991px) {
.tanzim  {
    padding-left: 30%;
  }
}
@media(min-width: 576px) and (max-width: 768px) {
.tanzim  {
    padding-left: 20%;
  }
}
@media(min-width: 450px) and (max-width: 576px) {
.tanzim  {
    padding-left: 17%;
  }
}
</style>





<section>
    <script src="static/js/caption.js"></script>

      <section class="ftco-section ftco-services-2" id="tours-section" >
      <div class="container">
        <div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <span class="subheading mb-4-center">Feel the Taste of Hospitality . . .</span>
            <h2 class="mb-4-center">Tours</h2>
            <p class="mb-4-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
  <div class="tanzim">
   <figure class="snip1477">
  <img src="static/images/meshkin.jpg" alt="sample38" />
  <div class="title">
    <div>
      <h2 style="text-align: left">Eco Tours</h2>
      <h4>Meshkinshahr </h4>
    </div>
  </div>
  <figcaption>
    <a href="#"> Eco Tour1 </a><br>
    <a href="#"> Eco Tour2 </a><br>
    <a href="#"> Eco Tour3 </a><br>
    <a href="#"> Eco Tour4 </a>
  </figcaption>
  <a class="visible-lg visible-md" href="#"></a>
  
</figure>
<figure class="snip1477"><img src="static/images/meshkin.jpg" alt="sample91" />
  <div class="title">
    <div>
      <h2 style="text-align: left">Cultural</h2>
      <h4>somewhere</h4>
    </div>
  </div>
  <figcaption>
    <a href="#"> Cultural 1 </a><br>
    <a href="#"> Cultural 2 </a><br>
    <a href="#"> Cultural 3 </a><br>
    <a href="#"> Cultural 4 </a>
  </figcaption>
  <a class="visible-lg visible-md" href="#"></a>
  
</figure>
<figure class="snip1477"><img src="static/images/meshkin.jpg" alt="sample91" />
  <div class="title">
    <div>
      <h2 style="text-align: left">MICE</h2>
      <h4>somewhere</h4>
    </div>
  </div>
  <figcaption>
    <a href="#"> MICE Tour1 </a><br>
    <a href="#"> MICE Tour2 </a><br>
    <a href="#"> MICE Tour3 </a><br>
    <a href="#"> MICE Tour4 </a>
  </figcaption>
  <a class="visible-lg visible-md" href="#"></a>
  
</figure>
<figure class="snip1477"><img src="static/images/meshkin.jpg" alt="sample91" />
  <div class="title">
    <div>
      <h2>Religious</h2>
      <h4>somewhere</h4>
    </div>
  </div>
  <figcaption>
    <a href="#"> Religious 1 </a><br>
    <a href="#"> Religious 2 </a><br>
    <a href="#"> Religious 3 </a><br>
    <a href="#"> Religious 4 </a>
  </figcaption>
  <a class="visible-lg visible-md" href="#"></a>
  
</figure>
<figure class="snip1477"><img src="static/images/meshkin.jpg" alt="sample91" />
  <div class="title">
    <div>
      <h2>Folklore</h2>
      <h4>somewhere</h4>
    </div>
  </div>
  <figcaption>
    <a href="#"> Folklore 1 </a><br>
    <a href="#"> Folklore 2 </a><br>
    <a href="#"> Folklore 3 </a><br>
    <a href="#"> Folklore 4 </a>
  </figcaption>
  <a class="visible-lg visible-md" href="#"></a>
  
</figure>
<figure class="snip1477"><img  src="static/images/meshkin.jpg" alt="sample35" />
  <div class="title">
    <div>
      <h2>Wellness</h2>
      <h4>Fars</h4>
    </div>
  </div>
  <figcaption>
    <a href="#"> Wellness 1 </a><br>
    <a href="#"> Wellness 2 </a><br>
    <a href="#"> Wellness 3 </a><br>
    <a href="#"> Wellness 4 </a>
  </figcaption>
  <a class="visible-lg visible-md" href="#"></a>
</figure>
</div>
</section>
  <section class="ftco-section testimony-section" style="margin-top-top: 5%">
      <img src="static/images/blob-shape-2.svg" class="svg-blob" alt="Colorlib Free Template">
      <img src="static/images/blob-shape-2.svg" class="svg-blob-2" alt="Colorlib Free Template">
      <div class="container">
        <div class="row justify-content-center pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <span class="subheading">Read testimonials</span>
            <h2 class="mb-4">What Client Says</h2>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img" style="background-image: url(static/images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text px-4 pb-5">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jeff Freshman</p>
                    <span class="position">Artist</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img" style="background-image: url(static/images/person_2.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text px-4 pb-5">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jeff Freshman</p>
                    <span class="position">Artist</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img" style="background-image: url(static/images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text px-4 pb-5">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jeff Freshman</p>
                    <span class="position">Artist</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img" style="background-image: url(static/images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text px-4 pb-5">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jeff Freshman</p>
                    <span class="position">Artist</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img" style="background-image: url(static/images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text px-4 pb-5">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jeff Freshman</p>
                    <span class="position">Artist</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<br>


  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
</div>

    






  <!-- loader -->
<!--   <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div> -->


{% endblock %}